.addme{
    
    float: right;
}
.my_page{
    margin-top: 6%;
}
.description,.heading,.footer{
    color: white;
}
input{
    margin-left: 20px;
}
button{
    margin: 10px;
}
td,th{
    text-align: center;
    padding: 10px;
}
tr.th.td{
    display: inline-block;
}
table{
    margin: 10%;
}
.error_col{
    color: red;
}