<div class="container">
        <div class="row">
           <div class="col-md-6 col-sm-6 col-xs-12">
               <form name="form" ng-submit="$ctrl.formObj.addData()">
                       <div class="form-group">
                           <label>First Name :<input type="text" name="fname" ng-model="$ctrl.formObj.user_form.fname" required></label>
                           <span ng-show="form.fname.$dirty && form.fname.$error.required">Required!!</span>
                           </br>
                           <label>Last Name :<input type="text" name="lname" ng-model="$ctrl.formObj.user_form.lname" required></label>
                           <span ng-show="form.lname.$dirty && form.lname.$error.required">Required!!</span>
                           </br>
                           <label>Email :<input type="email" name="email" ng-model="$ctrl.formObj.user_form.email" required></label>
                           <span ng-show="form.email.$dirty && form.email.$error.required">Required!!</span>
                            <span ng-show="form.email.$dirty && form.email.$error.email">Not an email!!</span>
                           </br>
                           <label>Password :<input type="password" name="pwd" ng-minlength="5" ng-maxlength="10" ng-model="$ctrl.formObj.user_form.pwd" required></label>
                           <span ng-show="form.pwd.$dirty && form.pwd.$error.required">Required!!</span>
                           <span ng-show=" form.pwd.$dirty && form.pwd.$error.minlength">Too Short!!</span>
                           <span ng-show=" form.pwd.$dirty && form.pwd.$error.maxlength">Tooo Long!!</span>
                           </br>
                           <label>DOB :<input  type="date" ng-model="$ctrl.formObj.user_form.dob" name="dob" required></label>
                            </br>
                           <label>Mobile No :<input  type="text" name="mob" ng-model="$ctrl.formObj.user_form.mob" ng-pattern="/^\d{10}$/" required></label>
                           <span ng-show=" form.mob.$dirty && form.mob.$invalid"> should be of 10 digits only</span>
                           <!--<span ng-show=" form.mob.$dirty && form.mob.$error.minlength">Not valid length!</span>
                           <span ng-show=" form.mob.$dirty && form.mob.$error.maxlength">Not valid length!</span>-->
                           </br>
                           <label>Gender : <input type="radio" ng-model="$ctrl.formObj.user_form.radio" value="Male" name="radio" >Male</input> <input  type="radio" ng-model="$ctrl.formObj.user_form.radio" value="Female" name="radio" required>Female</input></label></br>
                           <input type="submit" ng-show="$ctrl.formObj.submit_btn" class="btn btn-info btn-sm" name="save" value="Save" ></input></input><input type="button" ng_show="$ctrl.formObj.update_btn" class="btn btn-info btn-sm"  ng-click="$ctrl.formObj.update()" value="Update"></input><input type="button" class="btn btn-info btn-sm" name="cancel" ng-click="$ctrl.formObj.clearForm()" value="Cancel"></input>
                       </div>
                   </form>
           </div>
       </div>    
    </div>